$header-color: #031022;
$body-color: #04152d;
$footer-color: #031022;

$white: #fff;
$black: #000;
$pink: #da2f68;
$orange-gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);

$header-height: 8rem;
$border-radius: 30px;

$font-family: "Montserrat", sans-serif;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
