<!-- Angular Material  -->

<!-- Angular Material --( Typography )-- start -->

<!-- <div class="typographies">
  <fieldset>
    <legend>mat-headline-</legend>
    <div class="mat-headline-4">headline 4</div>
    <div class="mat-headline-3">headline 3</div>
    <div class="mat-headline-2">headline 2</div>
    <div class="mat-headline-1">headline 1</div>
  </fieldset>

  <fieldset>
    <legend>mat-typography-header</legend>
    <div class="mat-typography">
      <h1>H1</h1>
      <h2>h2</h2>
      <h3>h3</h3>
      <h4>h4</h4>
    </div>
  </fieldset>

  <fieldset>
    <legend>mat-headline & mat-subtitle</legend>
    <div class="mat-headline-5">mat-headline-5 = H1</div>
    <div class="mat-headline-6">mat-headline-6 = H2</div>
    <div class="mat-subtitle-1">mat-subtitle-1 = H3</div>
    <div class="mat-subtitle-2">mat-subtitle-2 = H4</div>
  </fieldset>

  <fieldset>
    <legend>mat-body</legend>
    <div class="mat-body-1">body - 1 fontsize 16px</div>
    <div class="mat-body-2">body - 2 fontsize 14px</div>
  </fieldset>

  <fieldset>
    <legend>mat-caption</legend>
    <div class="mat-caption">
      mat-caption normal paragraf yazisi fontsize 12px
    </div>
  </fieldset>
</div> -->

<!-- Angular Material --( Typography )-- end -->

<!-- Angular Material --( Button )-- Start -->
<!-- <div class="buttons">
  <fieldset>
    <legend>Basic Buttons</legend>
    <button mat-button color="primary">Basic</button>
    <button mat-raised-button color="primary">Basic</button>
    <button mat-stroked-button color="primary">Basic</button>
    <button mat-flat-button color="primary">Basic</button>
  </fieldset>
  <fieldset>
    <legend>icon fab mini-fab</legend>
    <button mat-icon-button color="accent">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>plus_one</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="warn"
      aria-label="Example icon button with a filter list icon"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
    <button
      mat-mini-fab
      disabled
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>bookmark</mat-icon>
    </button>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon> arrow_forward_ios </mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </fieldset>
</div> -->
<!-- Angular Material --( Button )-- End -->

<!-- Angular Material --( ButtonToggle )-- Start -->
<!-- <div class="buttonToggle">
  <div>
    <mat-button-toggle-group>
      <mat-button-toggle>Mehmet</mat-button-toggle>
      <mat-button-toggle>Deniz</mat-button-toggle>
      <mat-button-toggle>Gucdemir</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <mat-button-toggle-group multiple>
      <mat-button-toggle
        ><mat-icon>format_align_left</mat-icon></mat-button-toggle
      >
      <mat-button-toggle
        ><mat-icon>format_align_right</mat-icon></mat-button-toggle
      >
      <mat-button-toggle
        ><mat-icon>format_align_center</mat-icon></mat-button-toggle
      >
      <mat-button-toggle
        ><mat-icon>format_align_justify</mat-icon></mat-button-toggle
      >
      <mat-button-toggle disabled
        ><mat-icon>format_align_justify</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div> -->
<!-- Angular Material --( ButtonToggle )-- End -->

<!-- Angular Material --( Badge )-- Start -->
<!-- <div class="badge" style="margin: 15px">
  <div>
    <span
      matBadge="3"
      matBadgeSize="small"
      matBadgeColor="primary"
      matBadgePosition="above after"
      matBadgeOverlap="false"
      >mdg</span
    >
    <span
      style="margin-left: 35px"
      matBadge="3"
      matBadgeSize="small"
      matBadgeColor="primary"
      matBadgePosition="above after"
      >mdg</span
    >
  </div>
  <div style="margin-top: 15px">
    <mat-icon matBadge="8" matBadgeSize="small" matBadgeColor="accent">
      shopping_cart_checkout
    </mat-icon>
    <mat-icon
      [matBadge]="news"
      [matBadgeHidden]="news === 0"
      matBadgeSize="small"
      matBadgeColor="warn"
      style="margin-left: 25px"
    >
      shopping_cart_checkout
    </mat-icon>
  </div>
</div> -->
<!-- Angular Material --( Badge )-- End -->

<!-- Angular Material --( Progress Spinner )-- Start -->
<!-- <div class="Srogress-Spinner">
  <mat-spinner color="accent"></mat-spinner>
  <mat-progress-spinner [value]="progress_value"></mat-progress-spinner>
  <mat-spinner color="warn" *ngIf="show"></mat-spinner>
  <button mat-raised-button color="warn" (click)="getData()">Get Data</button>
</div> -->
<!-- Angular Material --( Progress Spinner )-- End -->

<!-- Angular Material --( Progress Barr )-- Start -->
<!-- <div class="ProgressBar" style="margin-top: 50px">
  <div>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
    <mat-progress-bar mode="buffer" style="margin-top: 25px"></mat-progress-bar>
    <mat-progress-bar
      mode="indeterminate"
      style="margin-top: 25px"
    ></mat-progress-bar>
    <mat-progress-bar mode="query" style="margin-top: 25px"></mat-progress-bar>
  </div>
  <div style="margin-top: 50px">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="show"
      color="accent"
    ></mat-progress-bar>
    <button
      mat-flat-button
      (click)="getData()"
      color="accent"
      style="margin-top: 25px"
    >
      Get Data
    </button>
  </div>
</div> -->
<!-- Angular Material --( Progress Barr )-- End -->

<!-- Angular Material --( ToolBar )-- Start -->
<!-- <div class="ToolBar">
  <mat-toolbar color="primary" class="title">
    <div>MDG</div>
    <div>
      <span>Home</span>
      <span>About</span>
      <span>Courses</span>
    </div>
  </mat-toolbar>
</div> -->
<!-- Angular Material --( ToolBar )-- End -->

<!-- Angular Material --( Sidenav )-- start -->

<!-- <mat-drawer-container>
  <mat-drawer #sidenav mode="side" [(opened)]="open">SideNav</mat-drawer>
  <mat-drawer-content
    >Main
    <button mat-raised-button (click)="openSide()">Toogle</button>
    <button mat-raised-button (click)="sidenav.open()">Open</button>
    <button mat-raised-button (click)="sidenav.close()">Close</button>
    <button mat-raised-button (click)="sidenav.toggle()">Toogle Library</button>
  </mat-drawer-content>
</mat-drawer-container> -->

<!-- Angular Material --( Sidenav )-- End -->

<!-- Angular Material --( Menu )-- Start -->
<!-- <div style="margin: 150px">
  <button mat-raised-button [matMenuTriggerFor]="appMenu">Menu</button>
  <mat-menu #appMenu="matMenu" xPosition="after" yPosition="below">
    <button mat-menu-item [matMenuTriggerFor]="frontend">Frontend</button>
    <button mat-menu-item [matMenuTriggerFor]="backend">Backend</button>
  </mat-menu>

  <mat-menu #frontend="matMenu">
    <button mat-menu-item>HTML</button>
    <button mat-menu-item [matMenuTriggerFor]="Css">Style Sheets</button>
    <button mat-menu-item>JavaScript</button>
    <button mat-menu-item>TypeScript</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Angular</button>
  </mat-menu>

  <mat-menu #backend="matMenu">
    <button mat-menu-item>C#</button>
    <button mat-menu-item>Python</button>
    <button mat-menu-item>Node Js</button>
  </mat-menu>

  <mat-menu #Css="matMenu">
    <button mat-menu-item>Css</button>
    <button mat-menu-item>Sass</button>
    <button mat-menu-item>Scss</button>
    <button mat-menu-item>Less</button>
  </mat-menu>

  <button
    mat-raised-button
    [matMenuTriggerFor]="dataMenu"
    [matMenuTriggerData]="{ name: 'Mehmet' }"
    style="margin-left: 5px"
  >
    Mehmet
  </button>
  <button
    mat-raised-button
    [matMenuTriggerFor]="dataMenu"
    [matMenuTriggerData]="{ name: 'Deniz' }"
    style="margin-left: 5px"
  >
    Deniz
  </button>

  <mat-menu #dataMenu="matMenu">
    <ng-template matMenuContent let-name="name">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Log out {{ name }}</button>
    </ng-template>
  </mat-menu>
</div> -->
<!-- Angular Material --( Menu )-- End -->

<!-- Angular Material --( List )-- Start -->
<!-- <div>
  <fieldset>
    <legend>Basic List</legend>
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 1</mat-list-item>
    </mat-list>
  </fieldset>

  <fieldset>
    <legend>Nav list</legend>
    <mat-nav-list>
      <a mat-list-item href="">Home</a>
      <a mat-list-item href="">Home</a>
      <a mat-list-item href="">Home</a>
    </mat-nav-list>
  </fieldset>

  <fieldset>
    <legend>Multiple selection list</legend>
    <mat-selection-list>
      <mat-list-option>Deniz</mat-list-option>
      <mat-list-option>Deniz</mat-list-option>
      <mat-list-option>Deniz</mat-list-option>
      <mat-list-option>Deniz</mat-list-option>
    </mat-selection-list>
  </fieldset>

  <fieldset>
    <legend>Singular selection List</legend>
    <mat-selection-list [multiple]="false">
      <mat-list-option>Mehmet</mat-list-option>
      <mat-list-option>Mehmet</mat-list-option>
      <mat-list-option>Mehmet</mat-list-option>
      <mat-list-option>Mehmet</mat-list-option>
    </mat-selection-list>
  </fieldset>

  <fieldset>
    <legend>Lists with Icon</legend>
    <mat-list>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{ folder.name }}</div>
        <div matListItemLine>{{ folder.updated | date }}</div>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>{{ note.name }}</div>
        <div matListItemLine>{{ note.updated | date }}</div>
      </mat-list-item>
    </mat-list>
  </fieldset>
</div> -->
<!-- Angular Material --( List )-- End -->

<!-- Angular Material --( GridList )-- Start -->
<!-- <div>
  <br />
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

  <br />
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      >{{ tile.text }}</mat-grid-tile
    >
  </mat-grid-list>
  <br />
</div> -->
<!-- Angular Material --( GridList )-- End -->

<!-- Angular Material --( Expansion Panel )-- Start -->
<!-- <div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title> Personal Data </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
        provident.
      </p>
      <mat-action-row>
        <button mat-button color="primary" (click)="nexStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title> Destination </mat-panel-title>
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam,
        quibusdam.
      </p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nexStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>Day of the trip</mat-panel-title>
        <mat-panel-description>
          Inform the date you wish to trevel
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vero!
      </p>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nexStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->
<!-- Angular Material --( Expansion Panel )-- End -->

<!-- Angular Material --( Card )-- Start -->
<!-- <div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="accent">LIKE</button>
      <button mat-button color="primary">SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div> -->
<!-- Angular Material --( Card )-- End -->

<!-- Angular Material --( Tabs )-- Start -->
<!-- <div>
  <mat-tab-group
    animationDuration="2000ms"
    #denRef
    (selectedTabChange)="tabChange(denRef.selectedIndex)"
  >
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Thirt">Content 3</mat-tab>
  </mat-tab-group>
  {{ denRef.selectedIndex }}
  <br />
  <mat-tab-group
    animationDuration="0ms"
    #denRef
    (selectedTabChange)="tabChange(denRef.selectedIndex)"
  >
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Thirt">Content 3</mat-tab>
  </mat-tab-group>
  <br />
  <mat-tab-group dynamicHeight animationDuration="2000ms">
    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">Small content</div>
    </mat-tab>
    <mat-tab label="Long tab">
      <div class="example-large-box mat-elevation-z4">Large content</div>
    </mat-tab>
  </mat-tab-group>
</div> -->
<!-- Angular Material --( Tabs )-- End -->

<!-- Angular Material --( Stepper )-- Start -->
<!-- <div>
  <mat-horizontal-stepper linear>
    <mat-step label="Gonderici Adresi" completed="true">
      Gonderici Adresi Detayi
      <div>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step label="Fatura Adresi" completed="false" optional>
      Fatura Adresi Detayi
      <div>
        <button mat-button matStepperPrevious color="accent">Previous</button>
        <button mat-button matStepperNext color="primary">Next</button>
      </div>
    </mat-step>

    <mat-step label="Siparis Ver" completed="false">
      Siparis
      <div>
        <button mat-button matStepperPrevious color="accent">Previous</button>
        <button mat-button color="primary">Siparisi Ver</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div> -->
<!-- Angular Material --( Stepper )-- End -->

<!-- Angular Material --( FormField Input Textarea )-- Start -->
<!-- <div style="margin: 50px">
  <mat-form-field
    floatLabel="auto"
    hideRequiredMarker
    appearance="outline"
    color="accent"
  >
    <mat-label>Name</mat-label>
    <input matInput required placeholder="This appearance is outline" />
    <mat-hint align="end">Min 3 character</mat-hint>
  </mat-form-field>
  <mat-form-field
    floatLabel="auto"
    hideRequiredMarker
    appearance="fill"
    color="warn"
  >
    <mat-label>Name</mat-label>
    <input matInput required placeholder="This appearance is fill" />
    <mat-hint align="end">Min 3 character</mat-hint>
  </mat-form-field>

  <mat-form-field color="accent">
    <label>Text Area</label>
    <textarea matInput placeholder="Write something"></textarea>
    <mat-hint align="end">Text Area</mat-hint>
  </mat-form-field>
</div> -->
<!-- Angular Material --( FormField Input Textarea )-- End -->

<!-- Angular Material --( Select )-- Start -->
<!-- <div>
  <div style="margin: 80px">
    <mat-form-field color="accent">
      <mat-label>Favorite Food</mat-label>

      <mat-select required [(value)]="selectedValue">
        <mat-option value="steak">Steak</mat-option>
        <mat-option value="tacos">Tacos</mat-option>
        <mat-option value="sushi">Sushi</mat-option>
        <mat-option value="fish&chips">Fish & Chips</mat-option>
      </mat-select>
    </mat-form-field>
    {{ selectedValue }}
    <br />
    <mat-form-field>
      <mat-label>Cars</mat-label>

      <select matNativeControl required>
        <option value="audi">Audi</option>
        <option value="Merco">Merco</option>
        <option value="ferro">ferro</option>
        <option value="lambo">lambo</option>
      </select>
    </mat-form-field>
  </div>
  <br />
  <div style="margin: 80px">
    <mat-form-field color="accent">
      <mat-label>Favorite Food</mat-label>

      <mat-select required multiple [(value)]="selectedValue">
        <mat-optgroup label="Foods">
          <mat-option value="steak">Steak</mat-option>
          <mat-option value="tacos">Tacos</mat-option>
          <mat-option value="sushi">Sushi</mat-option>
          <mat-option value="fish&chips">Fish & Chips</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Beverages">
          <mat-option value="cola">Cola</mat-option>
          <mat-option value="water">Water</mat-option>
          <mat-option value="soda">Soda</mat-option>
          <mat-option value="vine">Vine</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    {{ selectedValue }}
  </div>
</div> -->
<!-- Angular Material --( Select )-- End -->

<!-- Angular Material --( AutoComplete )-- Start -->
<!-- <div>
  <div>
    <mat-form-field>
      <input matInput [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">{{
          option
        }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <br />
  <div>
    <mat-form-field>
      <input type="text" [matAutocomplete]="memo" matInput />
      <mat-autocomplete #memo="matAutocomplete" [displayWith]="showIt">
        <mat-option *ngFor="let option of objectOptions" [value]="option">{{
          option.name
        }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <br />
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input matInput [matAutocomplete]="st" [formControl]="stateCtrl" />
      <mat-autocomplete #st="matAutocomplete">
        <mat-option
          *ngFor="let state of filteredStates | async"
          [value]="state.name"
        >
          <img [src]="state.flag" height="25" class="example-option-img" />
          <span>{{ state.name }} | </span>
          <small> Population: {{ state.population }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div> -->
<!-- Angular Material --( AutoComplete )-- End -->

<!-- Angular Material --( Checkbox RadioButton )-- Start -->
<!-- <div>
  <mat-checkbox> Login </mat-checkbox>
  <br />
  <mat-checkbox labelPosition="before" color="primary"> Login </mat-checkbox>
  <br />
  <mat-checkbox labelPosition="before" color="warn"> Login </mat-checkbox>
  <br />

  <mat-radio-group>
    <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
    <mat-radio-button value="react" color="accent">React</mat-radio-button>
    <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>
  </mat-radio-group>
</div> -->
<!-- Angular Material --( Checkbox RadioButton )-- End -->

<!-- Angular Material --( DatePicker )-- Start -->
<!-- <div>
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="memoPicker"
      [min]="minDate"
      [max]="maxDate"
      [matDatepickerFilter]="dateFilter"
    />
    <mat-datepicker-toggle [for]="memoPicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #memoPicker></mat-datepicker>
  </mat-form-field>
</div> -->
<!-- Angular Material --( DatePicker )-- End -->

<!-- Angular Material --( Tooltip )-- Start -->
<div></div>
<!-- Angular Material --( Tooltip )-- End -->
