/* button {
    margin-right: 50px;
}

.title {
    justify-content: space-between;
}

span {
    padding-right: 25px;
} */

/* mat-drawer-container {
    height: 100%;
}

mat-drawer {
    width: 250px;
    background-color: antiquewhite;
}

mat-drawer,
mat-drawer-container {
    padding: 20px;
}

mat-grid-tile {
    background: #ddbdf1;
} */

/* .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
} */
/* 
.example-card {
    max-width: 400px;
    margin: 50px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
} */

.example-small-box,
.example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-small-box {
    height: 100px;
    width: 100px;
}

.example-large-box {
    height: 300px;
    width: 300px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
}

[dir="rtl"] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
}

mat-radio-button {
    margin-right: 10px;
}

table {
    width: 100%;
}
