<!-- Angular Material  -->

<!-- Angular Material --( Typography )-- start -->

<!-- <div class="typographies">
  <fieldset>
    <legend>mat-headline-</legend>
    <div class="mat-headline-4">headline 4</div>
    <div class="mat-headline-3">headline 3</div>
    <div class="mat-headline-2">headline 2</div>
    <div class="mat-headline-1">headline 1</div>
  </fieldset>

  <fieldset>
    <legend>mat-typography-header</legend>
    <div class="mat-typography">
      <h1>H1</h1>
      <h2>h2</h2>
      <h3>h3</h3>
      <h4>h4</h4>
    </div>
  </fieldset>

  <fieldset>
    <legend>mat-headline & mat-subtitle</legend>
    <div class="mat-headline-5">mat-headline-5 = H1</div>
    <div class="mat-headline-6">mat-headline-6 = H2</div>
    <div class="mat-subtitle-1">mat-subtitle-1 = H3</div>
    <div class="mat-subtitle-2">mat-subtitle-2 = H4</div>
  </fieldset>

  <fieldset>
    <legend>mat-body</legend>
    <div class="mat-body-1">body - 1 fontsize 16px</div>
    <div class="mat-body-2">body - 2 fontsize 14px</div>
  </fieldset>

  <fieldset>
    <legend>mat-caption</legend>
    <div class="mat-caption">
      mat-caption normal paragraf yazisi fontsize 12px
    </div>
  </fieldset>
</div> -->

<!-- Angular Material --( Typography )-- end -->

<!-- Angular Material --( Button )-- Start -->
<!-- <div class="buttons">
  <fieldset>
    <legend>Basic Buttons</legend>
    <button mat-button color="primary">Basic</button>
    <button mat-raised-button color="primary">Basic</button>
    <button mat-stroked-button color="primary">Basic</button>
    <button mat-flat-button color="primary">Basic</button>
  </fieldset>
  <fieldset>
    <legend>icon fab mini-fab</legend>
    <button mat-icon-button color="accent">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>plus_one</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="warn"
      aria-label="Example icon button with a filter list icon"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
    <button
      mat-mini-fab
      disabled
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>bookmark</mat-icon>
    </button>
    <button
      mat-fab
      color="accent"
      aria-label="Example icon button with a bookmark icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon> arrow_forward_ios </mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </fieldset>
</div> -->
<!-- Angular Material --( Button )-- End -->

<!-- Angular Material --( ButtonToggle )-- Start -->
<!-- <div class="buttonToggle">
  <div>
    <mat-button-toggle-group>
      <mat-button-toggle>Mehmet</mat-button-toggle>
      <mat-button-toggle>Deniz</mat-button-toggle>
      <mat-button-toggle>Gucdemir</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div>
    <mat-button-toggle-group multiple>
      <mat-button-toggle
        ><mat-icon>format_align_left</mat-icon></mat-button-toggle
      >
      <mat-button-toggle
        ><mat-icon>format_align_right</mat-icon></mat-button-toggle
      >
      <mat-button-toggle
        ><mat-icon>format_align_center</mat-icon></mat-button-toggle
      >
      <mat-button-toggle
        ><mat-icon>format_align_justify</mat-icon></mat-button-toggle
      >
      <mat-button-toggle disabled
        ><mat-icon>format_align_justify</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div> -->
<!-- Angular Material --( ButtonToggle )-- End -->

<!-- Angular Material --( Badge )-- Start -->
<!-- <div class="badge" style="margin: 15px">
  <div>
    <span
      matBadge="3"
      matBadgeSize="small"
      matBadgeColor="primary"
      matBadgePosition="above after"
      matBadgeOverlap="false"
      >mdg</span
    >
    <span
      style="margin-left: 35px"
      matBadge="3"
      matBadgeSize="small"
      matBadgeColor="primary"
      matBadgePosition="above after"
      >mdg</span
    >
  </div>
  <div style="margin-top: 15px">
    <mat-icon matBadge="8" matBadgeSize="small" matBadgeColor="accent">
      shopping_cart_checkout
    </mat-icon>
    <mat-icon
      [matBadge]="news"
      [matBadgeHidden]="news === 0"
      matBadgeSize="small"
      matBadgeColor="warn"
      style="margin-left: 25px"
    >
      shopping_cart_checkout
    </mat-icon>
  </div>
</div> -->
<!-- Angular Material --( Badge )-- End -->

<!-- Angular Material --( Progress Spinner )-- Start -->
<!-- <div class="Srogress-Spinner">
  <mat-spinner color="accent"></mat-spinner>
  <mat-progress-spinner [value]="progress_value"></mat-progress-spinner>
  <mat-spinner color="warn" *ngIf="show"></mat-spinner>
  <button mat-raised-button color="warn" (click)="getData()">Get Data</button>
</div> -->
<!-- Angular Material --( Progress Spinner )-- End -->

<!-- Angular Material --( Progress Barr )-- Start -->
<div class="ProgressBar" style="margin-top: 50px">
  <div>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
    <mat-progress-bar mode="buffer" style="margin-top: 25px"></mat-progress-bar>
    <mat-progress-bar
      mode="indeterminate"
      style="margin-top: 25px"
    ></mat-progress-bar>
    <mat-progress-bar mode="query" style="margin-top: 25px"></mat-progress-bar>
  </div>
  <div style="margin-top: 50px">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="show"
      color="accent"
    ></mat-progress-bar>
    <button
      mat-flat-button
      (click)="getData()"
      color="accent"
      style="margin-top: 25px"
    >
      Get Data
    </button>
  </div>
</div>
<!-- Angular Material --( Progress Barr )-- End -->
