.pageNotFound {
    height: 700px;    
    padding-top: 200px;    
    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;      
        margin: 0 auto;  
        .bigText {
            font-size: 100px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        .smallText {
            font-size: 44px;
        }
    }
}