<div class="app-component">
  <app-navbar></app-navbar>

  <app-category></app-category>

  <div class="row">
    <div class="col-md-3 sidebar">
      <div class="offcanvas-header">
        <h5
          class="offcanvas-title"
          id="sidebarMenuLabel"
          style="margin: 1rem 0; padding: 0 1rem; font-size: 1.75rem"
        >
          Shop
        </h5>
      </div>
      <div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-add-1">
              Product Add - Classic Form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product-add-2">
              Product Add - Reactive Form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Products </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Customers </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Reports </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"> Integrations </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
