.bennerSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.banner {
  width: 100%;
}

.item {
  position: relative;
  height: 80vh;
}

.image {
  object-fit: cover;
  /* z-index: -2; */
}

@media screen and (max-width: 768px) {
  .item {
    height: 60vh;
  }
}

@media screen and (max-width: 640px) {
  .item {
    height: 50vh;
  }
}
