.example-card {
    max-width: 400px;
}

.cardTitle {
    /* tasan kisimlarda 3 nokta ile belirtmek */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    margin-bottom: 10px;
}

.cardContent {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    margin: 10px 0;
}

.cardHeader {
    justify-content: center;
}
