<app-divider> Satisfaction Survey </app-divider>

<app-table></app-table>

<app-divider> Extra Informations </app-divider>
<app-tabs>
  <!-- routerLink= "./" current page demek  -->
  <a
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="item"
  >
    Certificates
  </a>
  <a routerLink="./languages" routerLinkActive="active" class="item">
    Languages
  </a>
  <a routerLink="./educations" routerLinkActive="active" class="item">
    Educations
  </a>
</app-tabs>
