<h2 mat-dialog-title>Yeni Board Ekle</h2>

<mat-dialog-content>
  <form [formGroup]="boardForm">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Baslik</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="boardForm.get('title')?.hasError('required')">
        Baslik girmek zorunlu
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="padding: 28px">
  <button mat-raised-button color="accent" (click)="close()">Iptal</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="boardForm.invalid"
    (click)="create()"
  >
    Olustur
  </button>
</mat-dialog-actions>
