<div class="container">
  <nav>
    <ul class="pagination paginationUl">
      <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
        <a
          (click)="currentPage = currentPage - 1"
          class="page-link"
          tabindex="-1"
          >Previous</a
        >
      </li>
      <ng-container *ngFor="let image of images; let i = index">
        <li
          class="page-item"
          [ngClass]="{ active: i === currentPage }"
          *ngIf="pageIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
        </li>
      </ng-container>

      <li
        class="page-item"
        [ngClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
      </li>
    </ul>
  </nav>

  <div class="mainImg">
    <h4 appFirst [backgroundColor]="'blue'" style="color: white">
      {{ images[currentPage].title }}
    </h4>
    <img class="Img" [src]="images[currentPage].url" />
  </div>

  <!-- <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">ilk sayfadasin</div>
    <div *ngSwitchCase="1">ikinci sayfadasin</div>
    <div *ngSwitchCase="2">Ucuncu sayfadasin</div>
    <div *ngSwitchDefault>ilk, ikinci veya ucuncu sayfada degilsin</div>
  </div> -->
</div>
