@use "../../sass/" as *;

.banner-slide {
    margin-bottom: 3rem;
}

.hero-slide-item {
    padding: 8rem 0;
    width: 100%;
    height: 80vh;

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet {
        height: 60vh;
    }

    .hero-slide-item-content {
        @include flex(center, center);
        position: relative;

        .hero-slide-item-content-info {
            width: 55%;
            padding: 0 3rem;
            position: relative;
            color: $white;

            @include tablet {
                width: 100%;
            }
            & > * ~ * {
                margin-top: 3rem;
            }

            .title {
                font-size: 5rem;
                font-weight: 700;
                line-height: 1;

                @include tablet {
                    font-size: 4rem;
                }
            }

            .overview {
                font-weight: 700;
                font-size: 1.5rem;
            }
        }

        .hero-slide-item-content-poster {
            flex: 1;
            position: relative;
            @include flex(center, flex-start);

            img {
                width: 400px;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
            }

            @include tablet {
                display: none;
            }
        }
    }
}
