@use './sass/' as *;

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;300;400&family=Montserrat:wght@300;400;500;600;700;900&family=Roboto+Condensed&family=Roboto+Mono&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100%;


    @include tablet {
        font-size: 80%;
    }

    @include mobile {
        font-size: 60%;
    }
}

body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;
    
    background-color: $body-color;
    // color: $white;
    

    @include mobile {
        margin-bottom: 3rem;
    }
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}
iframe {
    border: 0;
}