:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1; // metin satirlarinin yuksekligini ve metin boyutunu verilen degerin kati olarak belirler belirler (x1 veya x2 gibi) bu ornekte 1 katidir.
  font-weight: 500;

  font-synthesis: none; // sadece belirtilen font ailesini kullanilmasini saglar. Font turleri arasinda sentezleme yapilmasini kontrol eden bir kodtur.
  text-rendering: optimizeLegibility; // metin rendering i kontrol eder. harflerin okunabilirligini optimize eder. "harf bosluklari, kenar cizgileri vs."
  -webkit-font-smoothing: antialiased; // chrome ve safari fontlarin kenar yumusakliklarini kontrol etmek icin kullanilir
  -moz-osx-font-smoothing: grayscale; // firefox da fontlarin kenar yumusakliklarini kontrol etmek icin kulllanilir
  -webkit-text-size-adjust: 100%; // chrome ve safari de metin boyutlarini ayarlamak icin kullanilir. 100% degeri ise metin boyutunun orjinalligini korumak icindir

  --bg1: #FFFFFF;
  --bg2: #141414;
  --bg3: #020c1b;
  --footer: #031F38;
  --pink: #da2f68;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  background: var(--bg1);
}

::-webkit-scrollbar { 
  display: none;
}