<div class="container">
  <div class="form-container">
    <div class="title">Create Account</div>
    <form [formGroup]="createUserForm">
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput formControlName="username" />
        <mat-error>
          <span *ngIf="f['username'].errors && f['username'].errors['required']"
            >User Name is required</span
          >
          <span
            *ngIf="f['username'].errors && f['username'].errors['maxlength']"
            >We allow max 10 characters</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
          <span *ngIf="f['email'].errors && f['email'].errors['required']"
            >Email is required</span
          >
          <span *ngIf="f['email'].errors && f['email'].errors['email']">
            You must use email type</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>
          <span
            *ngIf="f['password'].errors && f['password'].errors['required']"
          >
            Password is required
          </span>
          <span
            *ngIf="f['password'].errors && f['password'].errors['minlength']"
          >
            We allow at least 8 characters
          </span>
        </mat-error>
      </mat-form-field>
    </form>

    <div class="buttons-container">
      <button
        (click)="createAccunt()"
        [disabled]="createUserForm.invalid"
        mat-raised-button
        class="login-button"
      >
        Register
      </button>
      <p>or</p>
      <button mat-button routerLink="/login">Login</button>
    </div>
    {{ createUserForm.value | json }}
  </div>
</div>
